  <form [formGroup]="advertismentForm" (ngSubmit)="onSubmit()" class="form-container">

    <div>
      <mat-radio-group formControlName="type">
        <mat-radio-button value="0">Nabízím</mat-radio-button>
        <mat-radio-button value="1">Hledám</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Nadpis</mat-label>
      <input matInput placeholder="Zadejte nadpis inzerátu" type="text" formControlName="caption" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Text</mat-label>
      <textarea matInput placeholder="Zadejte text inzerátu" formControlName="content" required></textarea>
    </mat-form-field>
    
    <button mat-raised-button type="submit" [disabled]="!advertismentForm.valid" color="primary">Uložit inzerát</button>

  </form>
