@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  padding: 0em;
  margin: 0em;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #ffffff;
  color: #1a1a1a;
  font-size: 120%;
  line-height: 1.5em;
}

#wrapp {
  width: 100%;
  max-width: 2500px;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
}